*.o
*.a
*.nm
*.dis
*.i
*.yaml
*.ast
*.c-
*.h-
*.s-
*.trace

cmd/as/as
tmp/
build/

# Linked BESM-6 images built by kernel/test/Makefile.
kernel/test/hello
kernel/test/sctest
kernel/unix
kernel/test/mmutest
kernel/test/uintr
kernel/test/utrap
